// Layout ----------------------------

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

// Main layout grid
.grid {
  display: grid;
  grid-template-columns: 1fr;
  @include bp(sm) {
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5rem;
  }
}

.site-nav,
.site-footer {
  @include bp(sm) {
    grid-column: 2 / span 1;
  }
}
.site-main {
  @include bp(sm) {
    grid-column: 1 / span 2;
  }
}

.site-branding,
.site-intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include bp(sm) {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}

// Work Grid
.grid--work {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // justify-content: flex-start;
  gap: 1rem;

  @include bp(md) {
    gap: 2rem;
  }

  @supports (grid-area: auto) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include bp(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .grid__item {
    flex: 0 1 48%;
    @include bp(md) {
      flex: 0 1 31%;
    }
  }
}

// Vertical Spacing
.site-nav {
  padding-bottom: 1rem;
  @include bp(sm) {
    padding-bottom: 2rem;
  }
  @include bp(md-sm) {
    padding-bottom: 3rem;
  }
  @include bp(lg) {
    padding-bottom: 4rem;
  }
}

.site-branding,
.site-intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include bp(sm) {
    padding-top: 2rem;
  }
  @include bp(md-sm) {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}

.site-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include bp(sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.site-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
