// Mixins ----------------------------

// Media Query
$breakpoints: (
  xs: 30rem,
  sm: 650px,
  md-sm: 650px,
  md: 750px,
  lg: 960px,
  xl: 1296px,
  xx: 1800px,
);

@mixin bp($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Rem output with px fallback
@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue / 16) * 1rem;
}
