h1,h2,h3,h4,h5,h6 {
  font-family: var(--headingFont);
}

.page-title {
  text-transform: uppercase;
  @include font-size(13);
  border-top: var(--line);
  padding-top: 0.5rem;
  margin: 0;
}


.small {
  @include font-size(13);
}
