// WORK
.work {
  .work__image,
  h2 {
    transition: var(--trans);
  }

  .work__image {
    border-bottom: 3px solid var(--aqua);
    order: 1;
  }

  .work__title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    order: 2;
    @include font-size(13);
    @include bp(sm) {
      @include font-size(16);
    }
    @include bp(md) {
      @include font-size(18);
    }
  }
  .work__studio {
    @include font-size(13);
    a {
      color: var(--grey);
      &:visited {
        color: var(--grey);
      }
      &:hover,
      &:focus &:active {
        color: var(--aqua);
      }
    }
  }

  a {
    text-decoration: none;
    // Set as flex to allow order of heading and image to be changed
    // Better accessibility for screen readers
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus &:active {
      .workImage {
        border-bottom-color: var(--eggshell);
        opacity: 0.7;
      }
      h2 {
        color: var(--aqua);
      }
    }
  }
}
