@import 'mixins';

.footer {
  width: 100%;
  border-top: 1px solid var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  flex: 1;
}
.email {
  flex: 1;
  text-align: right;
}
