@import 'reset';

:root {
  /* Colors */
  --aqua: #5ce6cd;
  --white: #fff;
  --black: #000;
  --grey: #ababab;
  --eggshell: #f5f5f5;

  /* Define colors intentions */
  --background: var(--black);
  --textColor: var(--grey);
  --lineColor: var(--eggshell);

  /* Styles */
  --line: 1px solid var(--lineColor);
  --trans: all 0.3s ease-in-out;

  /* Type */
  --headingFont: 'Montserrat', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  --bodyFont: 'Merriweather', Cambria, Cochin, Georgia, Times,
    'Times New Roman', serif;
}

html,
body {
  background-color: var(--background);
  color: var(--textColor);
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: var(--bodyFont);
}
body {
  // overflow: scroll;
  overflow-y: scroll;
}

a {
  color: inherit;
  color: var(--aqua);
  transition: var(--trans);

  &:visited {
    color: var(--aqua);
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--grey);
    text-decoration: none;
  }
}

.site-nav a.active {
  border-top-color: var(--aqua);
}

@import 'mixins';
@import 'layout';
@import 'typography';

// WORK
.work {
  .work__image,
  h2 {
    transition: var(--trans);
  }

  .work__image {
    border-bottom: 3px solid var(--aqua);
  }

  .work__title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    @include font-size(13);
    @include bp(sm) {
      @include font-size(16);
    }
    @include bp(md) {
      @include font-size(18);
    }
  }
  .work__studio {
    @include font-size(13);
    a {
      color: var(--grey);
      &:visited {
        color: var(--grey);
      }
      &:hover,
      &:focus &:active {
        color: var(--aqua);
      }
    }
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus &:active {
      .workImage {
        border-bottom-color: var(--eggshell);
        opacity: 0.7;
      }
      h2 {
        color: var(--aqua);
      }
    }
  }
}
