@import 'mixins';

.intro {
  p {
    @include font-size(22);
    color: var(--eggshell);
    margin-bottom: 1rem;
    max-width: 900px;
    @include bp(sm) {
      @include font-size(26);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }
}
